.cover-container__title {
  margin: 0;
  color: #fffdfd;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover-container__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
