.text-container__paragraph {
  margin: 0px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.61;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .text-container__paragraph {
    font-size: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .text-container__paragraph {
    line-height: 1.63;
  }
}
