.text-container {
  display: grid;
  grid-area: __text-container;
  gap: 25px;
  margin: 0;
  height: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .text-container {
    max-width: 90%;
    margin: 0 1rem;
  }
}
