.place-card__title {
  margin: 0;
  color: #ffffff;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  font-style: normal;
  grid-area: __title;
}

@media screen and (max-width: 768px) {
  .place-card__title {
    font-size: 42px;
    height: fit-content;
    line-height: 1.09;
    align-self: flex-end;
  }
}
