.buy-button {
  grid-area: __buy-button;
  margin: 0;
  color: #ffffff;
  padding: 0.81rem 1.25rem;
  border-radius: 4px;
  background-color: #0278fe;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}

.buy-button:hover {
  background-color: #0063d2;
}
