.author-container {
  grid-area: author-container;
  align-self: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .author-container {
    margin: 0 1rem;
    max-width: 90%;
    align-self: flex-start;
  }
}
