.place-card {
  max-width: 100%;
  height: fit-content;
  display: grid;
  justify-content: center;
  grid-template-columns: 46.6% 2.5rem 49.03%;
  grid-template-rows: auto auto 3rem auto auto auto /* auto auto auto */;
  gap: 0px 0px;
  grid-template-areas:
    "__title  .  ."
    "__title  .  author-container"
    ".        .  ."
    "__image  .  __text-container"
    "__buy-button  .  __text-container"
    ". .  __text-container";
}
